*{
    /* box-sizing: */
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.menu{
    height:25px;
    background-color: aqua;
}

.menu-options{
    height: 35px;
    background: yellowgreen;
}


.calculation {
    display: flex;
    background: beige;
    height: 25px;
    border-right: 1px solid lightgray;
    height: 20px;
}

.cells-content{
height:640px;
background-color: white;
overflow: auto;
position:relative;
}

.sheets{

    height:25px;
    background-color:bisque;

}

.cells{
    position: absolute;
    top:20px;
    left:20px;
}

.cell{
min-width:80px;
min-height:30px;
border-bottom: 1px solid lightgray;
border-right: 1px solid lightgray;
outline:none;
text-align: center;
padding-top: 5px;
z-index: 2;
}

.row{
display:flex;
top: 10px;
left:5px;
position: relative;
}

.top-left-cell{
background-color: lightblue;
height:30px;
position:absolute;
width:25px;
z-index:2;
}

.top-row{    
    height:30px;
    display: flex;
    position: relative; 
    top:0px;
    left: 25px;
    background-color: white;
}

.left-col{
    position: absolute;
    top: 30px;
    left: 0px;
    z-index:2;
    background-color: white;
}

.left-col-cell{
    text-align: center;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    height: 30px;

}

.top-row-cell {
    min-height: 20px;
    min-width: 80px;
    text-align: center;
    border-right: 1px solid lightgray;
    background-color: white;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#address {
    width: 50px;
    text-align: center;
}

#formula {
    outline: none;
    border: none;
    width: 100%;
    padding: 5px;
}